<div class="birdnest">
  <center><a href="/new-bird"> Flock Here!</a></center>

  <ul class="birdlist">
    {{#each bird}}
    <div class="w3-card">
    <li>Name: {{name}}</li>
    <li>Color: {{color}}</li>
    </div>
    <br>
    {{/each}}
  </ul>
</div>