<div>
  <form id="bird-form">
    <label for="name-input">Bird name:</label>
    <input type="text" id="name-input">
    <label for="name-input">Color:</label>
    <input type="text" id="color-input">
    <button type="submit">Submit</button>
  </form>
</div>
<center><a href="/"> Fly Back!</a></center>


<script src="/js/birdForm.js"></script>